<div class="prdt" style="padding-top: 10px">
  <div class="container">
    <div class="page-header head-page">
      <h1>Načini plaćanja</h1>
    </div>
<div class="textContainer text">Argentum Vita d.o.o. Vam osigurava najnižu cijenu za gotovinsko plaćanje i jednokratno karticama, odnosno popust za navedenu vrstu plaćanja.&nbsp;Argentum Vita d.o.o. Vam omogućuje kupnju odabranih proizvoda plaćanjem izravno putem interneta i to:<br /><br /><strong>1. Plaćanje gotovinom po primitku po&scaron;iljke:&nbsp;<br /></strong>Opcija plaćanja pouzećem Vam omogućuje da iznos narudžbe podmirite prilikom same dostave na navedenu adresu, tek kada robu vidite pred sobom. Plaćanje pouzećem nije moguće kod osobnog preuzimanja na na&scaron;em skladi&scaron;tu. Plaćanje pouzećem se vr&scaron;i isključivo u gotovini, dostavljaču prilikom same isporuke na navedenu adresu. U slučaju da primatelj nije u mogućnosti zaprimiti po&scaron;iljku na definiranoj dostavnoj adresi u trenutku dostave, dostavljač ostavlja obavijest o prispijeću po&scaron;iljke.<br /><br /><strong>2. Plaćanje kreditnim karticama:&nbsp;<br /></strong>
  <ul>
    <li>Visa, MasterCard® i Maestro®</li>
    <li>MasterCard i Visa kreditnom karticom Zagrebačke banke do 12 rata&nbsp;</li>
  </ul>
  <strong>3. Virmansko plaćanje<br /></strong>Kod izbora ovog načina plaćanja, na svoju e-mail adresu ćete dobiti predračun sa svim podacima potrebnim za uplatu, uključujući broj računa na koji trebate uplatiti vrijednost narudžbe. Uplatu potom možete izvr&scaron;iti kori&scaron;tenjem internet bankarstva ili načinom na koji inače plaćate svoje račune - putem banke, po&scaron;te, Fine ili sl.<br /><br />Po zaprimljenoj uplati, poslat ćemo vam naručene proizvode.<br /><br /></div>
  </div>
</div>