<div class="prdt" style="padding-top: 10px">
  <div class="container">
    <div class="page-header head-page">
      <h1>Izjava o privatnosti i sigurnosti podataka</h1>
    </div>
  <p>
    Tvrtka Argentum Vita će poštivati anonimnost i privatnost korisnika ove web stranice. Tvrtka Argentum Vita može prikupljati osobne podatke korisnika, kao što su ime, adresa, telefonski broj ili e-mail adresa samo ako korisnik iste dobrovoljno dostavi tvrtci Argentum Vita.
  </p>
  <p>
    Argentum Vita se obvezuje da će sve Vaše osobne podatke koristiti isključivo u svrhu kreiranja računa, kontakta s Vama, dostave kupljene robe i za ostale slične namjene.
  </p>
  <p>
    Argentum Vita obvezuje se da neće prodati, iznajmiti ili dijeliti Vaše podatke trećoj strani bez Vaše suglasnosti.
  </p>
    <p>
      Sukladno s Općom uredbom o zaštiti podataka (GDPR) koja nastupa 25. svibnja 2018. ažurirali smo pravila oprivatnosti.
    </p>
    <br>
    <p>
      Argentum Vita d.o.o. se obvezuje štititi osobne podatke Kupaca u skladu sa Zakonom o provedbi Opće uredbe o zaštiti podataka. Politika privatnosti se primjenjuje na sve osobne podatke korisnika koje prikupljamo i obrađujemo. Osobni podatak je svaki podatak koji se odnosi na fizičku osobu čiji je identitet utvrđen ili se može utvrditi, izravno ili neizravno. Obrada podataka je bilo koja radnja izvršena na osobnim podacima, poput primjerice prikupljanja, pohrane, upotrebe, uvida i prijenosa osobnih podataka.
    </p>
    <p>
      Vaše osobne podatke koristimo prilikom obrade i realizacije vaše narudžbe i prilikom obrade plaćanja. Vaše osobne podatke (ime, prezime, adresu, e-mail adresu i broj mobitela) dijelimo s dostavnim službama GLS i HP kako bi oni mogli izvršiti dostavu naručenih proizvoda. Vaši osobni podaci zaštićeni su ugovorom kojeg imamo s dostavnom službom i neće se upotrebljavati ni za što drugo osim za izvršavanje dostave paketa. Vaše podatke također dijelimo i sa tvrtkom Mailerlite koja se bavi automatiziranim slanjem oglašivačkih poruka (newslettera), putem njih vama šaljemo obavijesti o popustima, akcijama i svim novostima u našoj trgovini. Sa tvrtkom Mailerlite sklopili smo ugovor o obradi podataka ( Dana Processing Agreement ).
    </p>
    <p>
      Ukoliko se ne slažete s ovim uvjetima kao i ostalim uvjetima kupnje molimo Vas da ne koristite Argentum Vita internet trgovinu.
    </p>
    <p>
      Kupac u svakom trenutku može pristupiti svojim osobnim podatcima (Moj profil) na našoj internet trgovini i izvršiti nadopunu, ispravak ili izmjenu osobnih podataka. Kupac može u svakom trenutku zatražiti brisanje osobnih podataka. Od ovog se izuzimaju slučajevi u kojima je Prodavatelj po valjanom nalogu ovlaštenih državnih tijela, u skladu sa zakonom, dužan dostaviti ili dopustiti uvid u osobne podatke Kupaca.
    </p>
    <h4>
      Podatke možemo primati i izravnim kontaktom od kupaca koji nam se obrate za informacije o proizvodima i uslugama:
    </h4>
    <ul style="list-style-type:disc">
      <li>direktno mailom </li>
      <li>telefonskim pozivom </li>
      <li>uživo u poslovnici tvrtke.</li>
    </ul>
    <p>
      Tako prikupljene podatke koristimo samo za obradu traženih informacija, kontakta s kupcima i slanje naručenih proizvoda. Kupci i korisnici internetske stranice www.argentumvita.hr suglasni su da u skladu sa Zakonom o provedbi Opće uredbe o zaštiti podataka te u skladu s traženim upitom obrađujemo osobne podatke.
    </p>
    <br>
    <p>
      Zahtjeve za pristup, ispravljanje ili brisanje podataka možete uputiti na: info@argentumvita.hrili na adresu Argentum Vita d.o.o., Vrapčanska 175/2, 10090 Zagreb, Hrvatska.
    </p>
    <h4>
      Sigurnost vaših podataka osiguravamo ovim mjerama:
    </h4>
    <ul style="list-style-type:disc">
      <li>strogo ograničen pristup osobnim podacima</li>
      <li>korištenje podataka isključivo u skladu s legitimnim interesom, ugovornom obavezom ili danom privolom Kupca</li>
      <li>sigurnosni prijenos podataka</li>
      <li>postavljanje antivirusnih programa i vatrozida na IT sustave u svrhu detekcije, sprječavanja zloupotrebe osobnih podataka i neovlaštenog pristupa podacima.</li>
    </ul>
    <h4>
      Newsletter
    </h4>
    <p>
      Kada se upišete na Argentum Vita newsletter, dajete nam dopuštenje da Vas isključivo putem elektroničke pošte kontaktiramo u marketinške svrhe i obavještavamo o akcijama, popustima i novostima koje se odnose na Argentum Vitu i našu trgovinu. Suglasnost koju ste nam udijelili možete u svakom trenutku opozvati na emailinfo@argentumvita.hr. Također, s newsletter liste možete se ispisati na dnu svakog poslanog newslettera kao i javljanjem na e-mailinfo@argentumvita.hr.
    </p>
    <h4>
      Koliko dugo zadržavamo vaše osobne podatke?
    </h4>
    <p>
      Osobne podatke pohranjujemo i obrađujemo onoliko dugo koliko je potrebno za izvršenje određene legitimne svrhe, osim ako važećim propisima nije za pojedinu svrhu predviđeno duže vrijeme čuvanja, a najmanje za vrijeme trajanja ugovora između korisnika i Argentum Vita d.o.o.. U slučaju davanja privole za marketing, podatke čuvamo onoliko dugo dok se privola ne povuče. Osobni podaci koji više nisu potrebni ili korisnik zatraži njihovo brisanje uništavaju se na siguran način. Google Analytics čuva podatke u trajanju od 26 mjeseci, a podaci se koriste isključivo za praćenje statistika posjećenosti internetske stranice.
    </p>
    <h4>Politika kolačića</h4>
    <p>
      Kako bi internetska stranica www.argentumvita.hr ispravno radila mora se na računalo korisnika spremiti malena količina informacija (kolačići - Cookies). Korištenjem web stranice www.argentumvita.hr korisnik pristaje na upotrebu kolačića. Korisnik isključivanjem kolačića odlučuje hoće li dopustiti pohranjivanje kolačića na svom računalu. Postavke kolačića mogu se kontrolirati i konfigurirati u web pregledniku koji korisnik koristi za pregledavanje web stranica. Ukoliko korisnik onemogući kolačiće postoji mogućnost da stranica neće moći koristiti neke od funkcionalnosti. Kolačić dozvoljava web stranici da pamti akcije posjetitelja iz njegovih posjeta. Većina preglednika dozvoljava upotrebu kolačića, ali korisnik u svakom trenutku može kolačiće obrisati ili postaviti u pregledniku zabranu upotrebe kolačića. Najčešće razlozi upotrebe kolačića su identifikacija korisnika, pamćenje preferencija korisnika, pomoć pri unosu ili pregledu sadržaja koji je već unašan u prijašnjim posjetima, skupljanje podataka za analize i promotivne kampanje. Prilikom uporabe kolačića određeni podaci se prikupljaju automatski s vašeg računala pri dolasku na naše stranice. Ti podaci mogu uključivati i IP adresu, datum i vrijeme pristupa, podatke o vrsti računala, operativnog sustava, pretraživaču koji koristite, verzijama programa kao i jezičnim postavkama vašeg računala.
    </p>
    <p>
      Argentum Vita koristi kolačiće kako bi olakšala pristup registriranim korisnicima. Ovi kolačići pohranjuju podatke za registraciju kako ne biste svaki put kada posjetite našu stranicu morali upisivati osobne podatke.
    </p>
  </div>
</div>