<div class="prdt" style="padding-top: 10px">
  <div class="container">
    <div class="page-header head-page">
      <h1>Vaša Kupnje</h1>
    </div>

    <%= render partial: 'purchases_grid' %>
  </div>
</div>